<div id="container">
  <h3>Reserved cars</h3>
  <br>
  <h5>Showing a list of cars, reserved by the selected user</h5>
  <br>

  <form #userForm="ngForm" class="form-horizontal" id="userForm">
    <div class="form-group">
      <label class="col-sm-3 control-label">Select user:</label>
      <div class="col-sm-5">
        <select
          #userSelect="ngModel"
          [(ngModel)]="user_id"
          class="form-control"
          name="userSelect"
          (change)="getReservedCars()"
        >
          <option *ngFor="let user of users" [value]="user.id">{{user.first_name + " " + user.last_name}}</option>
        </select>
      </div>
    </div>
  </form>

  <table *ngIf="cars.length > 0; else emptyList" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Intervals</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{car.name}}</td>
        <td>
          <app-reservation [car_id]="car.id" [user_id]="user_id"></app-reservation>
      </tr>
    </tbody>
  </table>

  <ng-template #emptyList className="col-sm-12">
    <h5>No reserved cars by this user</h5>
  </ng-template>
</div>