<div  id="contentDiv">
  <div id="titleDiv"><h3>Users list</h3></div>
  <div id="addBtnDiv">
    <button class="btn btn-default" routerLink="/users/new" >Add new user</button>
  </div>
  <br />

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index" [attr.data-index]="i">
        <td>{{i+1}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>
          <input
            type="checkbox"
            [checked]="user.admin"
            (click)="handleAdminChange($event, user)"
            class="switch primary-switch"
          />
        </td>
        <td><a class="btn btn-default btn-sm" (click)="deleteUser(user)">Delete</a></td>
        <td><a class="btn btn-default btn-sm" routerLink="/users/edit/{{user.id}}">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>