<div>
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[0]"
    [center]="[0, 20]"
  >
    <mgl-marker *ngFor="let car of cars"
      [lngLat]="[car.longitude, car.latitude]"
    >
      <span 
        routerLink="/cars/show/{{car.id}}"
        class="glyphicon glyphicon-map-marker"
        [style.color]="car.color"
        [ngClass]="{'larger': hoveredCar && hoveredCar.id == car.id}"
        (mouseenter)="handleHover(car)"
        (mouseleave)="resetHover()"
      >
      </span>
    </mgl-marker>
  </mgl-map>

  <div id='searchDiv'>
    <h3>Filter cars by:</h3>
    <br>

    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-5 control-label">Start date</label>
        <div class="col-sm-7">
          <input #name="ngModel"
            [(ngModel)]="search.start_date"
            [ngClass]="{'has-error': errors.start_date}"
            name="start_date"
            class="form-control input-sm"
            type="date"
            placeholder="Start date"
            (input)="searchCars()"
          />
          <div *ngIf="this.errors.start_date" class="alert alert-danger">
            {{this.errors.start_date[0]}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">End date</label>
        <div class="col-sm-7">
          <input #name="ngModel"
            [(ngModel)]="search.end_date"
            [ngClass]="{'has-error': errors.end_date}"
            name="end_date"
            class="form-control input-sm"
            type="date"
            placeholder="End date"
            (input)="searchCars()"
          />
          <div *ngIf="this.errors.end_date" class="alert alert-danger">
            {{this.errors.end_date[0]}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Name</label>
        <div class="col-sm-7">
          <input #name="ngModel"
            [(ngModel)]="search.name"
            [ngClass]="{'has-error': false}"
            name="name"
            class="form-control input-sm"
            type="text"
            placeholder="Name"
            (input)="searchCars()"
          />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Color</label>
        <div class="col-sm-7">
          <select #color="ngModel"
            [(ngModel)]="search.color"
            [ngClass]="{'has-error': false}"
            name="color"
            class="form-control input-sm"
            (change)="searchCars()"
          >
            <option></option>
            <option *ngFor="let color of colors">{{color}}</option>
        </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Weight min</label>
        <div class="col-sm-7">
          <input #name="ngModel"
            [(ngModel)]="search.weight_min"
            [ngClass]="{'has-error': false}"
            name="weight_min"
            class="form-control input-sm"
            type="number"
            placeholder="Weight min"
            (input)="searchCars()"
          />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Weight max</label>
        <div class="col-sm-7">
          <input #name="ngModel"
            [(ngModel)]="search.weight_max"
            [ngClass]="{'has-error': false}"
            name="weight_max"
            class="form-control input-sm"
            type="number"
            placeholder="Weight max"
            (input)="searchCars()"
          />
        </div>
      </div>

    </form>

  </div>


  <div id='contentDiv'>

    <div id="titleDiv"><h3>List of available cars</h3></div>
    <div *ngIf="currentUser && currentUser.admin" id="addBtnDiv">
      <button class="btn btn-default" routerLink="/cars/new">Add new car</button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Color</th>
          <th scope="col">Weight</th>
          <th scope="col">Rate avg</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let car of cars; let i = index" 
          [attr.data-index]="i"
          (mouseenter)="handleHover(car)"
          (mouseleave)="resetHover()"
        >  
          <th>{{i + 1}}</th>
          <td><a routerLink="/cars/show/{{car.id}}">{{car.name}}</a></td>
          <td>{{car.color}}</td>
          <td>{{car.weight}}</td>
          <td><ngb-rating [rate]="car.rate_average" max="5" [readonly]="true"></ngb-rating></td>
          <td>
            <a 
              *ngIf="currentUser && currentUser.admin"
              class="btn btn-default btn-xs"
              (click)="delete(car)"
            >Delete</a>
            <a 
              *ngIf="currentUser && currentUser.admin"
              class="btn btn-default btn-xs"
              routerLink="/cars/edit/{{car.id}}"
            >Edit</a>
            <a
              class="btn btn-default btn-xs"
              (click)="makeReservation(car)"
            >Reserve</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>