<div class="panel panel-default">
  <h3 class="centered">{{"Update user #" + this.user.id}}</h3>
  <br />

  <app-user-form 
    (submitted)="handleSubmit($event)" 
    [errors]="this.errors"
    [user]="this.user"
    [isUpdate]="true"
    >
  </app-user-form>
</div>
