<div class="panel panel-default" id="form-panel">
  <div class="panel-footer">
    <h4>Edit car</h4>
  </div>
  <br />

  <div class="panel-body">
    <app-car-form
      [car]="this.car"
      (submitted)="handleSubmit($event)" 
      >
    </app-car-form>
  </div>
</div>