<div>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td *ngIf="!car_id"><a routerLink="/cars/show/{{reservation.car_id}}">{{reservation.car_name}}</a></td>
        <td>{{reservation.start_date}}</td>
        <td>=></td>
        <td>{{reservation.end_date}}</td>
      </tr>
    </tbody>
  </table>
</div>