#userForm {
  width: 300px;
  padding: 12px;
}

.centered {
  display: flex;
  justify-content: center;
}

.has-error {
  border-left: 5px solid #a94442; /* red */
}

.form-control.ng-invalid.ng-touched {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  margin-bottom: 0;
}