<form #userForm="ngForm" class="form" id="userForm" novalidate>

  <div class="form-group">
    <input #first_name="ngModel"
      [(ngModel)]="user.first_name"
      [ngClass]="{'has-error' : this.errors.first_name}"
      name="first_name"
      class="form-control"
      type="text"
      placeholder="First name"
      required 
    />
    <div *ngIf="first_name.invalid && first_name.touched" class="alert alert-danger">
      <div *ngIf="first_name.errors.required">
        First name is required.
      </div>
    </div>
    <div *ngIf="this.errors.first_name" class="alert alert-danger">
      {{"First name: " + this.errors.first_name}}
    </div>
  </div>

  <div class="form-group">
    <input #last_name="ngModel"
      [(ngModel)]="user.last_name"
      [ngClass]="{'has-error' : this.errors.last_name}"
      name="last_name"
      class="form-control"
      type="text"
      placeholder="Last name"
      required 
    />
    <div *ngIf="last_name.invalid && last_name.touched" class="alert alert-danger">
      <div *ngIf="last_name.errors.required">
        Last name is required.
      </div>
    </div>
    <div *ngIf="this.errors.last_name" class="alert alert-danger">
      {{"Last name: " + this.errors.last_name}}
    </div>
  </div>

  <span *ngIf="!this.isUpdate">
    <div class="form-group">
      <input #email="ngModel"
        [(ngModel)]="user.email"
        [ngClass]="{'has-error' : this.errors.email}"
        name="email"
        class="form-control"
        type="email"
        placeholder="Email"
        required 
      />
      <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
      </div>
      <div *ngIf="this.errors.email" class="alert alert-danger">
        {{"Email: " + this.errors.email}}
      </div>
    </div>

    <div class="form-group">
      <input #password="ngModel"
        [(ngModel)]="user.password"
        [ngClass]="{'has-error' : this.errors.password}"
        name="password"
        class="form-control"
        type="password"
        placeholder="Password"
        required="" 
        minlength="6"
      />
      <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters long.
        </div>
      </div>
      <div *ngIf="this.errors.password" class="alert alert-danger">
        {{"Password: " + this.errors.password}}
      </div>
    </div>

    <div class="form-group">
      <input #password_conf="ngModel"
        [(ngModel)]="user.password_confirmation"
        [ngClass]="{'has-error' : this.errors.password_confirmation}"
        name="password_confirmation"
        class="form-control"
        type="password"
        placeholder="Password confirmation"
        required="" 
        minlength="6"
      />
      <div *ngIf="password_conf.invalid && password_conf.touched" class="alert alert-danger">
        <div *ngIf="password_conf.errors.required">
          Password confirmation is required.
        </div>
        <div *ngIf="password_conf.errors.minlength">
          Password confirmation must be at least 6 characters long.
        </div>
      </div>
      <div *ngIf="this.errors.password_confirmation" class="alert alert-danger">
        {{"Password conformation: " + this.errors.password_confirmation}}
      </div>
    </div>
  </span>
  
  <div class="centered">
    <button
      [disabled]="userForm.invalid"
      type="submit" 
      class="btn btn-default" 
      (click)="handleClick()"
      >
      Submit
    </button>
  </div>
</form>