.has-error {
  border-left: 5px solid #a94442; /* red */
}

.form-control.ng-invalid.ng-touched {
  border-left: 5px solid #a94442; /* red */
}

.centered {
  display: flex;
  justify-content: center;
}

.car-image {
  width: 300px;
  cursor: grab;
}

mgl-map {
  height: 200px;
  width: 300px;
}