<form #carForm="ngForm" class="form-horizontal" id="carForm" novalidate>

  <div class="form-group">
    <label class="col-sm-4 control-label">Name</label>
    <div class="col-sm-7">
      <input #name="ngModel"
        [(ngModel)]="car.name"
        [ngClass]="{'has-error': false}"
        name="name"
        class="form-control"
        type="text"
        placeholder="Name"
        required 
      />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Color</label>
    <div class="col-sm-7">
      <select #color="ngModel"
        [(ngModel)]="car.color"
        [ngClass]="{'has-error': false}"
        name="color"
        class="form-control"
        required
      >
        <option *ngFor="let color of colors" value={{color}}>{{color}}</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Weight</label>
    <div class="col-sm-7">
      <input #name="ngModel"
        [(ngModel)]="car.weight"
        [ngClass]="{'has-error': false}"
        name="weight"
        class="form-control"
        type="number"
        placeholder="Weight"
        required 
      />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-11">
      <label class="btn btn-default col-sm-6">
        <div>Upload image</div>
        <input
          name="image"
          class="form-control"
          type="file" 
          style="display: none"
          (change)="handleFileChange($event)"
        >
      </label>
    </div>
  </div>

  <div *ngIf="car.image; else imageWarning">
    <img  class="car-image" [src]="car.image" />
    <br>
    <br>
  </div>
  <ng-template #imageWarning>
    <h5>Please upload a photo before submit</h5>
  </ng-template>

  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[0]"
    [center]="[0, 20]"
    (click)="handleClickOnMap($event)"
  >
    <mgl-marker
      *ngIf="car.latitude && car.longitude"
      [lngLat]="[car.longitude, car.latitude]"
    >
      <span class="glyphicon glyphicon-flag" [style.color]="car.color"></span>
    </mgl-marker>
  </mgl-map>

  <h5 *ngIf="car.latitude && car.longitude; else warningMessage">
    {{"Latitude: " + car.latitude.toFixed(4) + ", Longitude: " + car.longitude.toFixed(4)}}
  </h5>
  <ng-template #warningMessage>
    <h5>Please select coordinates before submit</h5>
  </ng-template>

  <br>

  <div class="centered">
    <button
      type="submit" 
      class="btn btn-default"
      (click)="handleSubmit()"
      [disabled]="carForm.invalid || !car.latitude || !car.longitude || !car.image"
      >
      Submit
    </button>
  </div>

</form>