<div class="panel panel-default">
  <h3 class="centered">Sign up</h3>
  <br />

  <app-user-form 
    (submitted)="handleSubmit($event)" 
    [errors]="this.errors"
    [user]="this.user"
    >
  </app-user-form>
</div>