<div *ngIf="this.car" class="panel panel-default">
  <div class="panel-footer">
    <h4>{{car.name}}</h4>
  </div>
  <div class="panel-body">
    <div>

      <p>{{"Weight: " + car.weight}}</p>
      <p>{{"Color: " + car.color}}</p>

    </div>

    <img class="car-image" src="{{this.utils.serverUrl + car.image}}">

    <br>
    <br>

    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v9'"
      [zoom]="[8]"
      [center]="[car.longitude, car.latitude]"
    >
      <mgl-marker
        [lngLat]="[car.longitude, car.latitude]"
      >
        <span class="glyphicon glyphicon-flag" [style.color]="car.color"></span>
      </mgl-marker>
    </mgl-map>
  </div>
</div>