<div>
  <h3>Reservations</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Car</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Actions</th>
        <th scope="col">Rate car</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations; let i = index">
        <th scope="row">{{i+1}}</th>
        <td><a routerLink="/cars/show/{{reservation.car_id}}">{{reservation.car_name}}</a></td>
        <td>{{reservation.start_date}}</td>
        <td>{{reservation.end_date}}</td>
        <td><a class="btn btn-default btn-xs" (click)="delete(reservation)">Cancel reservation</a></td>
        <td><ngb-rating [(rate)]="reservation.rate" max="5" (rateChange)="addRate(reservation)"></ngb-rating></td>
      </tr>
    </tbody>
  </table>

</div>