<nav class="navbar navbar-fixed-top navbar-default justify-content-between">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Car Rental</a>
    </div>
    
    <div *ngIf="!this.currentUser">
      <ul class="nav navbar-nav">
        <li><a routerLink="/users/signup" class="navbar-item">Signup</a></li>
      </ul>
    </div>

    <div *ngIf="this.currentUser">
      <ul class="nav navbar-nav">
        <li><a routerLink="/cars" class="navbar-item">Cars</a></li>
        <li><a routerLink="/reservations" class="navbar-item">Reservations</a></li>
      </ul>
    </div>
    
    <div *ngIf="this.currentUser && this.currentUser.admin">
      <ul class="nav navbar-nav">
        <li><a routerLink="/users" class="navbar-item">Users</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a routerLink="/query/cars" class="navbar-item">Cars query</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a routerLink="/query/users" class="navbar-item">Users query</a></li>
      </ul>
    </div>

    <div *ngIf="this.currentUser"
      class="nav navbar-right">
      <ul class="nav navbar-nav">
        <p class="navbar-text">{{
          (this.currentUser.admin ? "[Admin] " : "") + 
          this.currentUser.first_name + " " + 
          this.currentUser.last_name}}
        </p>
      </ul>
      <div class="nav navbar-form navbar-right">
        <button class="btn btn-default" (click)='logout()'>Log out</button>
      </div>
    </div>


    <form *ngIf="!this.currentUser"
      #loginForm="ngForm"
      class="form navbar-form navbar-right">
      <div class="form-group">
        <input
          [(ngModel)]="email"
          [ngClass]="{'has-error' : this.emailError}"
          name="email"
          class="form-control"
          type="email"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          [(ngModel)]="password"
          [ngClass]="{'has-error' : this.passwordError}"
          name="password"
          class="form-control"
          type="password"
          id="password"
          placeholder="Password"
        />
      </div> 
      <button type="submit" class="btn btn-default" (click)="login()">Log in</button>
    </form>

  </div>
</nav>